.git
.gitignore
.dockerignore
.env*
!.env.example
**/.env*
!**/.env.example
**/.env.example/**
.venv
venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
.coverage
.logs
generated
tests/data
